@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
*{margin:0; padding:0;}
body{font-family: 'Noto Sans KR', sans-serif; font-size:12px; line-height:18px; color:#121212;}
a{color:#121212; text-decoration:none;}
img{border:none; vertical-align:top;}
ul, ol{list-style:none;}
.cf{} 
.cf:after{display:block; content:""; clear:both;}