$color-bg: #161616;
$color-text: #EDEDED;
$color-accent: #00FFB7;
$color-muted: #999999;
$color-white: #FFFFFF;
$glass-bg: rgba(255, 255, 255, 0.05);
$glass-border: rgba(255, 255, 255, 0.1);

$container-max-width: 1450px;

html,
body {
    height: auto !important;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto !important;
}

body {
    background-color: $color-bg;
    color: $color-text;

    cursor: url('../../assets/img/cursor.png'), auto;

    header {
        border-bottom: 1px solid $glass-border;

        nav {
            max-width: $container-max-width;
            margin: 0 auto;
            padding: 40px;
            display: flex;
            justify-content: space-between;

            .logo {
                font-size: 45px;
                font-weight: 600;
                line-height: 1.3;
                color: $color-text;
            }

            ul {
                display: flex;
                align-items: center;
                gap: 20px;

                li {
                    a:hover{
                        color: $color-accent;
                    }
                }
            }
        }
    }

    main {
        max-width: $container-max-width;
        padding: 40px;
        margin: 0 auto;

        // .title {
        //     text-align: center;
        //     margin-bottom: 40px;

        //     h1 {
        //         font-size: 45px;
        //         font-weight: 600;
        //         line-height: 1.3;
        //         color: $color-text;
        //     }

        //     p {
        //         font-size: 16px;
        //         color: $color-text;
        //     }
        // }

        .tab {
            flex: 0 0 auto;
            width: fit-content;
            max-width: 100%;
            margin: 0 auto 40px;
            background-color: $glass-bg;
            padding: 8px;
            border: 1px solid $color-accent;
            border-radius: 30px;
            display: flex;
            gap: 9px;
            flex-wrap: wrap;
            justify-content: center;
            position: relative;

            overflow-x: auto;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }

            .tab-activebg {
                display: block;
                position: absolute;
                top: 8px;
                left: 8px;
                height: calc(100% - 16px);
                width: 0;
                height: 0;
                border-radius: 19px;
                transform: translate(0, 0);
                transition: transform .24s ease, width .24s ease, height .24s ease;
                z-index: 0;
                background-color: $color-accent;
            }

            .tab-button {
                color: $color-text;
                font-size: 16px;
                line-height: 1;
                padding: 10px 14px;
                border-radius: 19px;
                border: none;
                background: transparent;
                transition: all 0.3s ease;
                cursor: pointer;
                position: relative;
                z-index: 1;
                white-space: nowrap;

                &.active-button {
                    color: $color-bg;
                }
            }
        }

        .list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 20px;

            .gallery-item {
                a {
                    .gallery-thumb {
                        width: 100%;
                        background-color: #00ffb746;
                        border-radius: 10px;
                        height: 200px;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transition: all 1s ease;
                        }

                        &:hover {
                            img {
                                scale: calc(1.2);
                            }
                        }
                    }

                    .gallery-meta {
                        margin-top: 10px;

                        .gallery-title {
                            font-size: 18px;
                            font-weight: 900;
                        }

                        .gallery-tags {
                            font-size: 12px;
                        }

                        .gallery-year {
                            font-size: 12px;
                            padding: 3px 6px;
                            border-radius: 10px;
                            color: $color-bg;
                            background-color: $color-accent;
                        }
                    }

                }
            }
        }
    }

}

@media screen and (max-width: 854px){
    body{
        main{
            .list{
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }

}

@media screen and (max-width: 640px) {
    body{
        main{
            .list{
                grid-template-columns: 1fr 1fr ;
            }
        }
    }

}

@media screen and (max-width: 450px) {
 body{
        main{
            .list{
                grid-template-columns: 1fr;
            }
        }
    }
}